<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <label for="email">Email: </label>
        <input type="email", id="email", name="email", placeholder="insira seu email">
        <br/>
	    <label for="senha1">Senha: </label>
        <input type="password", id="senha1", name="senha1", placeholder="insira sua senha">
        <br>
	    <label for="senha2">Confirme sua senha: </label>
        <input type="password", id="senha2", name="senha2", placeholder="confirme sua senha">
        <br>
	    <label for="condoid">Insira o id do seu condominio: </label>
        <input type="number", id="condoid", name="condoid", placeholder="id do condominio">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>